{% block content %}
<head>
   <style>
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<script type="text/javascript">
   function checkBoxVac_a() {
	var checkBoxGroup = document.forms['form_data']['vac_a'];
	var limit = 2;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			if (checkedcount > limit) {
				alert("คุณสามารถเลือกคำตอบได้มากที่สุด " + limit + " ข้อเท่านั้น");
				this.checked = false;
			}


		}
	}
}
 function checkBoxVaca_1() {
	var checkBoxGroup = document.forms['form_data']['vaca_1'];
	var limit = 5;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			if (checkedcount > limit) {
				alert("คุณสามารถเลือกคำตอบได้มากที่สุด " + limit + " ข้อเท่านั้น");
				this.checked = false;
			}

		}
	}
}
function checkBoxVaca_a() {
	var checkBoxGroup = document.forms['form_data']['vaca_a'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			if (checkedcount > limit) {
				alert("คุณสามารถเลือกคำตอบได้มากที่สุด " + limit + " ข้อเท่านั้น");
				this.checked = false;
			}


		}
	}
}
</script>
</head>
<h1>แนะนำสถานที่ท่องเที่ยวในจังหวัดชลบุรี</h1>
<form action="/" method="post" name="form_data" id="form_data" onsubmit="return myFunction()">
    <h2>ข้อมูลส่วนบุคคล</h2><hr>
    <h4>เพศ</h4>
    <input type="radio" value="ชาย" id="male" name="gender" required>
    <label for="male">ชาย</label><br>
    <input type="radio"  value="หญิง" id="female" name="gender" >
    <label for="female">หญิง</label><hr>
    <h4>อายุ</h4>
 <input type="radio" value="ต่ำกว่าหรือเท่ากับ 20 ปี" id="age_1" name="age" required>
    <label for="age_1">ต่ำกว่าหรือเท่ากับ 20 ปี</label><br>
    <input type="radio"  value="21-30 ปี" id="age_2" name="age" >
    <label for="age_2">21-30 ปี</label><br>
    <input type="radio" value="31-40 ปี" id="age_3" name="age" >
    <label for="age_3">31-40 ปี</label><br>
    <input type="radio"  value="41-50 ปี" id="age_4" name="age" >
    <label for="age_4">41-50 ปี</label><br>
    <input type="radio" value="51-60 ปี" id="age_5" name="age" >
    <label for="age_5">51-60 ปี</label><br>
    <input type="radio"  value="สูงกว่าหรือเท่ากับ 61 ปี" id="age_6" name="age" >
    <label for="age_6">สูงกว่าหรือเท่ากับ 61 ปี</label><hr>
    <h4>การศึกษา</h4>
    <input type="radio" value="มัธยมต้น" id="edu_1" name="edu" required>
    <label for="edu_1">มัธยมต้น</label><br>
    <input type="radio"  value="มัธยมปลาย" id="edu_2" name="edu" >
    <label for="edu_2">มัธยมปลาย</label><br>
    <input type="radio" value="ปวส/ปวช" id="edu_3" name="edu" >
    <label for="edu_3">ปวส/ปวช</label><br>
    <input type="radio"  value="ปริญญาตรี" id="edu_4" name="edu">
    <label for="edu_4">ปริญญาตรี</label><br>
    <input type="radio"  value="ปริญญาโทขึ้นไป" id="edu_5" name="edu">
    <label for="edu_5">ปริญญาโทขึ้นไป</label><hr>
    <h4>อาชีพ</h4>
    <input type="radio" value="ผู้บริหาร/ผู้จัดการ" id="car_1" name="career" required>
    <label for="car_2">ผู้บริหาร/ผู้จัดการ</label><br>
    <input type="radio"  value="ค้าขาย/ธุรกิจส่วนตัว/เจ้าของกิจการ" id="car_2" name="career">
    <label for="car_2">ค้าขาย/ธุรกิจส่วนตัว/เจ้าของกิจการ</label><br>
    <input type="radio" value="ข้าราชการ/รัฐวิสาหกิจ" id="car_3" name="career">
    <label for="car_3">ข้าราชการ/รัฐวิสาหกิจ</label><br>
    <input type="radio"  value="ผู้ชำนาญเฉพาะทาง (อักษร,การฑูต,แพทย์)" id="car_4" name="career">
    <label for="car_4">ผู้ชำนาญเฉพาะทาง (อักษร,การฑูต,แพทย์)</label><br>
    <input type="radio"  value="พนักงานบริษัท" id="car_5" name="career">
    <label for="car_5">พนักงานบริษัท</label><br>
    <input type="radio" value="ครู/อาจารย์/ศาสตราจารย์" id="car_6" name="career">
    <label for="car_6">ครู/อาจารย์/ศาสตราจารย์</label><br>
    <input type="radio"  value="นักเรียน/นักศึกษา" id="car_7" name="career">
    <label for="car_7">นักเรียน/นักศึกษา</label><br>
    <input type="radio" value="เกษียณ" id="car_8" name="career">
    <label for="car_8">เกษียณ</label><br>
    <input type="radio"  value="อาชีพอิสระ" id="car_9" name="career">
    <label for="car_9">อาชีพอิสระ</label><br>
    <input type="radio"  value="ว่างงาน" id="car_10" name="career">
    <label for="car_10">ว่างงาน</label><br>
     <input type="radio"  value="รับจ้างทั่วไป" id="car_11" name="career">
    <label for="car_10">รับจ้างทั่วไป</label><hr>
    <h4>รายได้ต่อเดือน</h4>
    <input type="radio" value="ต่ำกว่า 10,000 บาท" id="sal_1" name="salary" required>
    <label for="sal_1">ต่ำกว่า 10,000 บาท</label><br>
    <input type="radio"  value="10,000 - 25,000 บาท" id="sal_2" name="salary">
    <label for="sal_2">10,000 - 25,000 บาท</label><br>
    <input type="radio" value="25,000 – 40,000 บาท" id="sal_3" name="salary">
    <label for="sal_3">25,000 – 40,000 บาท</label><br>
    <input type="radio"  value="40,000 – 50,000 บาที" id="sal_4" name="salary">
    <label for="sal_4">40,000 – 50,000 บาท</label><br>
    <input type="radio"  value="มากกว่า 50,000 บาท" id="sal_5" name="salary">
    <label for="sal_5">มากกว่า 50,000 บาท</label><hr>
    <h4>สถานภาพครอบครัว</h4>
    <input type="radio" value="โสด" id="fam_1" name="family" required>
    <label for="fam_1">โสด</label><br>
    <input type="radio"  value="สมรส" id="fam_2" name="family">
    <label for="fam_2">สมรส</label><br>
    <input type="radio" value="หย่าร้าง / แยกกันอยู่" id="fam_3" name="family">
    <label for="fam_3">หย่าร้าง / แยกกันอยู่</label><hr>
    <h2>ข้อมูลพฤติกรรมการท่องเที่ยวในประเทศ</h2><hr>
    <h4>โดยเฉลี่ยแล้ว คุณเดินทางท่องเที่ยวในประเทศบ่อยแค่ไหน ?</h4>
    <input type="radio" value="น้อยกว่า 1 ครั้งต่อปี" id="vac_1" name="vac" required>
    <label for="vac_1">น้อยกว่า 1 ครั้งต่อปี</label><br>
    <input type="radio"  value="1-3 ครั้งต่อปี" id="vac_2" name="vac">
    <label for="vac_2">1-3 ครั้งต่อปี</label><br>
    <input type="radio" value="3-5 ครั้งต่อปี" id="vac_3" name="vac">
    <label for="vac_3">3-5 ครั้งต่อปี</label><br>
    <input type="radio"  value="6-8 ครั้งต่อปี" id="vac_4" name="vac">
    <label for="vac_4">6-8 ครั้งต่อปี</label><br>
    <input type="radio"  value="มากกว่า 8 ครั้งต่อปี" id="vac_5" name="vac">
    <label for="vac_5">มากกว่า 8 ครั้งต่อปี</label><hr>
    <h4>โดยทั่วไป คุณเดินทางท่องเที่ยวในประเทศกับคนกลุ่มใดบ่อยที่สุด ? (ตอบได้มากกว่า 1 ข้อ แต่ไม่เกิน 2 ข้อ)</h4>
    <input type="checkbox" value="เดินทางคนเดียว" id="vac_a" name="vac_a">
    <label for="vac_a">เดินทางคนเดียว</label><br>
    <input type="checkbox"  value="ไปกับเพื่อน / เพื่อนร่วมงาน" id="vac_b" name="vac_a">
    <label for="vac_b">ไปกับเพื่อน / เพื่อนร่วมงาน</label><br>
    <input type="checkbox" value="ไปกับแฟน / สามี / ภรรยา (ไม่ได้พาลูกไปด้วย)" id="vac_c" name="vac_a">
    <label for="vac_c">ไปกับแฟน / สามี / ภรรยา (ไม่ได้พาลูกไปด้วย)</label><br>
    <input type="checkbox"  value="ไปกับ สามี / ภรรยา และลูก" id="vac_d" name="vac_a">
    <label for="vac_d">ไปกับ สามี / ภรรยา และลูก</label><br>
    <input type="checkbox"  value="ไปกับครอบครัวใหญ่ / ญาติ" id="vac_e" name="vac_a">
    <label for="vac_e">ไปกับครอบครัวใหญ่ / ญาติ</label><br>
     <input type="checkbox"  value="ไปกับคณะ (บริษัท,สมาคม,สถาบันการศึกษา)" id="vac_f" name="vac_a">
    <label for="vac_f">ไปกับคณะ (บริษัท,สมาคม,สถาบันการศึกษา)</label><hr>
    <h4>ช่วงเวลาที่คุณเลือกเดินทางท่องเที่ยวส่วนใหญ่คือช่วงเวลาใด ?</h4>
     <input type="radio" value="วันธรรมดา" id="vac_day1" name="vac_day" required>
    <label for="vac_day1">วันธรรมดา</label><br>
    <input type="radio"  value="วันหยุดสุดสัปดาห์" id="vac_day2" name="vac_day">
    <label for="vac_day2">วันหยุดสุดสัปดาห์</label><br>
    <input type="radio" value="วันหยุดเทศกาลต่างๆ (สงกรานต์ ปีใหม่ ตรุษจีน )" id="vac_day3" name="vac_day">
    <label for="vac_day3">วันหยุดเทศกาลต่างๆ (สงกรานต์ ปีใหม่ ตรุษจีน )</label><br>
    <input type="radio"  value="ช่วงปิดเทอม" id="vac_day4" name="vac_day">
    <label for="vac_day4">ช่วงปิดเทอม</label><br>
    <input type="radio"  value="ทุกเวลาที่ต้องการไป" id="vac_day5" name="vac_day">
    <label for="vac_day5">ทุกเวลาที่ต้องการไป</label><hr>
    <h4>ประเภทของกิจกรรมหรือสถานที่ท่องเที่ยว ที่คุณชอบทำหรือชอบไป เวลาท่องเที่ยวในประเทศ (ตอบได้มากกว่า 1 ข้อ แต่ไม่เกิน 5 ข้อ)</h4>
     <input type="checkbox" value="แหล่งท่องเที่ยวทางประวัติศาสตร์ เช่น ชมโบราณสถาน อุทยานประวัติศาสตร์" id="vaca_1" name="vaca_1">
    <label for="vaca_1">แหล่งท่องเที่ยวทางประวัติศาสตร์ เช่น ชมโบราณสถาน อุทยานประวัติศาสตร์</label><br>
    <input type="checkbox"  value="แหล่งท่องเที่ยวทางวัฒนธรรม และวิถีชีวิตชุมชน เช่น ชมการแสดงศิลปวัฒนธรรม ซื้อสินค้าพื้นเมือง เดินตลาดน้ำ เดินชมหมู่บ้าน" id="vaca_2" name="vaca_1">
    <label for="vaca_2">แหล่งท่องเที่ยวทางวัฒนธรรม และวิถีชีวิตชุมชน เช่น ชมการแสดงศิลปวัฒนธรรม ซื้อสินค้าพื้นเมือง เดินตลาดน้ำ เดินชมหมู่บ้าน</label><br>
    <input type="checkbox" value="แหล่งท่องเที่ยวประเภททะเล ชายหาด และเกาะ เช่น เล่นน้ำ กีฬาทางน้ำ ดำน้ำ" id="vaca_3" name="vaca_1">
    <label for="vaca_3">แหล่งท่องเที่ยวประเภททะเล ชายหาด และเกาะ เช่น เล่นน้ำ กีฬาทางน้ำ ดำน้ำ</label><br>
    <input type="checkbox"  value="แหล่งท่องเที่ยวประเภทภูเขา เช่น ชมทิวทัศน์บนภูเขา เดินป่า" id="vaca_4" name="vaca_1">
    <label for="vaca_4">แหล่งท่องเที่ยวประเภทภูเขา เช่น ชมทิวทัศน์บนภูเขา เดินป่า</label><br>
    <input type="checkbox"  value="แหล่งท่องเที่ยวประเภทน้ำตก น้ำพุร้อน และแก่ง เช่น เดินสำรวจน้ำตก เล่นน้ำ ปิกนิก ล่องแก่ง" id="vaca_5" name="vaca_1">
    <label for="vaca_5">แหล่งท่องเที่ยวประเภทน้ำตก น้ำพุร้อน และแก่ง เช่น เดินสำรวจน้ำตก เล่นน้ำ ปิกนิก ล่องแก่ง</label><br>
     <input type="checkbox"  value="แหล่งท่องเที่ยวประเภทถ้ำ เช่น เดินชมหินงอกหินย้อย สำรวจถ้ำ" id="vaca_6" name="vaca_1">
    <label for="vaca_6">แหล่งท่องเที่ยวประเภทถ้ำ เช่น เดินชมหินงอกหินย้อย สำรวจถ้ำ</label><br>
     <input type="checkbox" value="แหล่งท่องเที่ยวทางศาสนา เช่น วัด มัสยิด โบสถ์ สักการะสิ่งที่มีชื่อเสียงในจังหวัด" id="vaca_7" name="vaca_1">
    <label for="vaca_7">แหล่งท่องเที่ยวทางศาสนา เช่น วัด มัสยิด โบสถ์ สักการะสิ่งที่มีชื่อเสียงในจังหวัด</label><br>
    <input type="checkbox"  value="แหล่งท่องเที่ยวแนวกิจกรรม ผจญภัย เช่น สวนน้ำ สวนสนุก สวนสัตว์ ATV" id="vaca_8" name="vaca_1">
    <label for="vaca_8">แหล่งท่องเที่ยวแนวกิจกรรม ผจญภัย เช่น สวนน้ำ สวนสนุก สวนสัตว์ ATV</label><br>
    <input type="checkbox" value="แหล่งท่องเที่ยวแบบโฮมสเตย์และฟาร์มสเตย์" id="vaca_9" name="vaca_1">
    <label for="vaca_9">แหล่งท่องเที่ยวแบบโฮมสเตย์และฟาร์มสเตย์</label><br>
    <input type="checkbox"  value="ไรับประทานอาหารในร้านที่มีชื่อเสียง เช่น คาเฟ่ ร้านอาหารดังของจังหวัด" id="vaca_10" name="vaca_1">
    <label for="vaca_10">รับประทานอาหารในร้านที่มีชื่อเสียง เช่น คาเฟ่ ร้านอาหารดังของจังหวัด</label><br>
    <input type="checkbox"  value="กิจกรรมแนว Night entertain เช่น ไปร้านเหล้า ผับ บาร์" id="vaca_11" name="vaca_1">
    <label for="vaca_11">กิจกรรมแนว Night entertain เช่น ไปร้านเหล้า ผับ บาร์</label><br>
     <input type="checkbox"  value="พักผ่อน และใช้ Facilities ต่างๆ ในโรงแรมที่พัก" id="vaca_12" name="vaca_1">
    <label for="vaca_12">พักผ่อน และใช้ Facilities ต่างๆ ในโรงแรมที่พัก</label><br>
    <input type="checkbox"  value="ชอปปิ้ง แวะร้านจำหน่ายสินค้าของฝาก ของดีในแต่ละจังหวัด" id="vaca_13" name="vaca_1">
    <label for="vaca_13">ชอปปิ้ง แวะร้านจำหน่ายสินค้าของฝาก ของดีในแต่ละจังหวัด</label><hr>
    <h4>ในการท่องเที่ยว ส่วนใหญ่แล้วคุณเน้นการใช้จ่ายเงินเพื่อความคุ้มค่าให้กับสิ่งใดมากที่สุด (ตอบได้มากกว่า 1 ข้อ แต่ไม่เกิน 3 ข้อ)</h4>
     <input type="checkbox" value="ค่าที่พัก / โรงแรม" id="vaca_a" name="vaca_a">
    <label for="vaca_a">ค่าที่พัก / โรงแรม</label><br>
    <input type="checkbox"  value="ค่าเดินทาง (ยานพาหนะ)" id="vaca_b" name="vaca_a">
    <label for="vaca_b">ค่าเดินทาง (ยานพาหนะ)</label><br>
    <input type="checkbox" value="ค่าทำกิจกรรม ค่าเข้าสถานที่ท่องเที่ยว" id="vaca_c" name="vaca_a">
    <label for="vaca_c">ค่าทำกิจกรรม ค่าเข้าสถานที่ท่องเที่ยว</label><br>
    <input type="checkbox"  value="ค่าอาหาร" id="vaca_d" name="vaca_a">
    <label for="vaca_d">ค่าอาหาร</label><br>
    <input type="checkbox"  value="ค่าสินค้า ชอปปิ้ง ของที่ระลึก" id="vaca_e" name="vaca_a">
    <label for="vaca_e">ค่าสินค้า ชอปปิ้ง ของที่ระลึก</label><br>
     <input type="checkbox"  value="แหล่งบันเทิง" id="vaca_f" name="vaca_a">
    <label for="vaca_f">แหล่งบันเทิง</label><br><hr>
    <input type="submit" value="ส่งคำตอบ">
</form>
<script type="text/javascript">checkBoxVac_a()</script>
<script type="text/javascript">checkBoxVaca_1()</script>
<script type="text/javascript">checkBoxVaca_a()</script>
<script>
   function myFunction(){
    var checkboxvac_a = document.querySelector('input[name="vac_a"]:checked');
    if(!checkboxvac_a) {
    alert('คุณต้องเลือกคำตอบอย่างน้อย 1 ข้อ (คุณเดินทางท่องเที่ยวในประเทศกับคนกลุ่มใดบ่อยที่สุด)');
    return false;
    }
    var checkboxvaca_1 = document.querySelector('input[name="vaca_1"]:checked');
    if(!checkboxvaca_1){
    alert("คุณต้องเลือกคำตอบอย่างน้อย 1 ข้อ (ประเภทของกิจกรรมหรือสถานที่ท่องเที่ยว ที่คุณชอบทำหรือชอบไป เวลาท่องเที่ยวในประเทศ)");
    return false;
    }
     var checkboxvaca_a = document.querySelector('input[name="vaca_a"]:checked');
    if(!checkboxvaca_a){
    alert("คุณต้องเลือกคำตอบอย่างน้อย 1 ข้อ (คุณเน้นการใช้จ่ายเงินเพื่อความคุ้มค่าให้กับสิ่งใดมากที่สุด)");
    return false;
    }


}

</script>



{% endblock %}